/*** input and selects ***/
input,
select {
    /*basic measurements of inputs*/
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    margin: 2px 0px 5px;
    /*set a border around inputs*/
    border: 2px solid #bbb;
    border-radius: 5px;
    /*add box sizing to not exceed parent in width*/
    box-sizing: border-box;
}
.input-group{
    /*add margin under each input-group*/
    margin: 2rem 0;
}
.input-group-caption{
    /*remove default margin-bottom from input-group-caption (h4)*/
    margin-bottom: .5rem;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    /*Set background color for input fields to dark grey and font color to white and remove borders*/
    input,
    select {
        background-color: #383838;
        color: white;
        border: unset;
    }
}