input {
    width: 100%;
    border: 2px solid #bbb;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0px 5px;
    height: 2rem;
    box-sizing: border-box;
}

.test {
    display: inline-grid;
    width: 45%;
    margin-right: 4%;
}


