.container{
    margin-top: 4.5rem;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display:block;
}

#navbar-toggle-cbox {
    display: none;
}
.navbar-toggler {
    background: white;
    border-radius: 2px;
    margin-bottom: unset;
}