### this file is used for HTTP Basic Authentication when the user tries to access the admin-portal

AuthType Basic
AuthName "Admin Portal: Benutzer:admin Passwort:Sicher2019%"
# Pfad zur .htpasswd-Datei (AuthUserFile) muss eventuell angepasst werden, damit der Webserver diese findet.
# Ansonsten kommt nach der Passworteingabe ein Serverfehler 500
AuthUserFile C:\xampp\htdocs\DHBW.LetterOfApology\src\.htpasswd
Require valid-user

#Benutzer: admin
#Passwort: Sicher2019%