/* Include this CSS file in HTML head AFTER the base CSS,
 * so the dark color scheme is used correctly
 * If you include this first the CSS for .list-item in dark mode
 * is overwritten by the rules in the base css for .list-item.
 * This problem only affects Safari.
 */
.list-item {
    padding-left: 1.7em;
    background-repeat: no-repeat;
    background-size: contain;
}

.list {
    margin: 1rem 0;
}
.list table{
    border-collapse: collapse;
    width: 100%;
}
.list table th{
    text-align: left;
}
.list table .item-row:not(:nth-child(2)){
    border-top: 1px solid darkgray;
}
.list table .item-row td{
    padding: 1rem 0;
}
.list table .item-row:hover{
    background-color: #e5e5e5;
}

a[href$=".pdf"][class="list-item"] {
    background-image: url(img/pdf.png);
}

a[href^="?folder"][class="list-item"] {
    background-image: url(img/folder.png);
}

th form{
    display: inline;
    margin-left: 1rem;
}

.button-row{
    display: flex;
    justify-content: space-between;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    /* Set background color to dark grey
    *  and set font color to white.
    */
    .list-item {
        color: white;
    }
    .list table .item-row:hover{
        background-color: #535353;
    }
}

.deleteButton {
    background-color: red;
}