.list-item {
    padding-left: 1.7em;
    background-repeat: no-repeat;
    background-size: contain;
}

.list {
    margin: 1rem 0;
}

a[href$=".pdf"] {
    background-image: url(img/pdf.png);
}

a[href^="?folder"] {
    background-image: url(img/folder.png);
}

th form{
    display: inline;
    margin-left: 1rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    /* Set background color to dark grey
    *  and set font color to white.
    */
    body div a {
        color: white;
    }
}